<h1 class="animated fadeIn fast">Sobre Comic App</h1>

<hr>
<p class="fadeIn card-header "
 [ngStyle] = "{'border-bottom': 'none'}">
    Aplicación de Marvel, con los principales personajes, su sinopsis y las cualidades que poseen.
</p>

