<!doctype html>
<div class="jumbotron jumbotron-fluid animated fadeIn fast">
        <div class="container">
          <h1 class="display-4">Comic App</h1>
          <p class="lead">Aplicación de comics</p>
          <div class="boton">
            <button class="btn btn-primary" (click)="heroe()">Acceso a Heroes</button>
          </div>
        </div>
      </div>