<!doctype html>

<h1 class="animated fadeIn fast">Busqueda de héroes: {{busqueda}}</h1>
<hr>

<div  class="card-columns">
    <div *ngFor="let cartas of heroes; let i = index" class="card animate fadeIn fast">
 
        <img [src]="cartas.img" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{cartas.nombre}}</h5>
          <p class="card-text">{{cartas.bio}}</p>
          <p class="card-text"><small class="text-muted"></small>Primera aparición el {{cartas.aparicion}} en {{cartas.casa}}</p>
            <button class="btn btn-outline-primary btn-block" (click)="verHeroe(i)" >+ Info</button>
        </div>
      </div>
    </div>
            <div *ngIf = "!heroes || heroes.length==0" class="row">
              <div class="col-md-12">
                <div class="alert alert-info animate fadeIn fast" role="alert">
                  <h4>No se han encontrado resultados a : {{busqueda}}</h4>
                </div>
              </div>
                </div>
  
