<!doctype html>

<h1 class="animated fadeIn fast">Héroes <small>Marvel y DC</small></h1>
<hr>

<div  class="card-columns">
    <div *ngFor="let cartas of heroes; let i = index" class="card animate fadeIn fast">
        <img [src]="cartas.img" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{cartas.nombre}}</h5>
          <p class="card-text">{{cartas.bio}}</p>
          <p class="card-text"><small class="text-muted"></small>Primera aparición el {{cartas.aparicion}} en {{cartas.casa}}</p>
            <button class="btn btn-outline-primary btn-block" (click)="verHeroe(i)">Ver más...</button>
        </div>
      </div>
</div>
