<h1>{{heroe.nombre | uppercase}} <small>({{heroe.aparicion | date:'y'}})</small></h1>
<hr>
<div class="container animated fadeIn fast row">
    <div class="col-4">
        <img [src]="heroe.img" [alt]="heroe.nombre">
    </div>
    <div class="col-8">
        <h1 class="display-4">{{heroe.nombre}}</h1>
        <p class="lead">{{heroe.bio}}</p>
        <div class="col-12 row">
            <div class="col-6">
                <button class="btn btn-outline-danger" (click)="volver()">Volver</button>
            </div>
            <div class="col-6 casa">
                <img *ngIf = "heroe.casa =='Marvel'" src="../../../assets/img/marvel.jpg" alt="">
                <img *ngIf = "heroe.casa =='DC'" src="../../../assets/img/dc.png" alt="">
            </div>

        </div>
    </div>
</div>